modules = ["nodejs-20", "web", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["espeak", "espeak-ng"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host localhost --port 8000 --reload"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[[ports]]
localPort = 32841
externalPort = 3000

[userenv]

[userenv.development]
PHONEMIZER_ESPEAK_LIBRARY = "/nix/store/02sy4i533rf5zcqal2yblk6mcyfpdsh8-espeak-ng-1.51.1/lib/libespeak-ng.so"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"
